<div ng-controller="controladorLogin">

<div class="navbar-fixed">
  <nav>
    <a href="/" class="brand-logo"><img src="img/png/laboratoriolinux.png" height="56px"></a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li ng-if="!session.id"><a class="waves-effect waves-light modal-trigger" href="#modal1"><i class="mdi-action-input left"></i> Ingresar</a></li>
      <li ng-show="session.latlng"><a class="waves-effect waves-light modal-trigger" href="#modalReg"><i class="mdi-action-description left"></i> Registrarse</a></li>
      <li><a href="#modalAjustes" class="modal-trigger"><i class="mdi-action-settings left"></i>Ajustes</a></li>
    </ul>
    <ul id="slide-out" class="side-nav">
      <!-- Dropdown Trigger -->
      <li ng-if="!session.id"><a class="waves-effect waves-light modal-trigger" href="#modal1"><i class="mdi-action-input left"></i> Ingresar</a></li>
      <li ng-if="session.latlng"><a class="waves-effect waves-light modal-trigger" href="#modalReg"><i class="mdi-action-description left"></i> Registrarse</a></li>
      <li><a href="#modalAjustes" class="modal-trigger"><i class="mdi-action-settings left"></i>Ajustes</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </nav>
</div>


<!-- Modal Structure for Login -->
<!--div id="modal1" class="modal bottom-sheet"-->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div>
      <form class="login-form" id="login" name="login">
        <div class="row margin">
          <div class="input-field col s12 m6">
            <i class="mdi-social-person-outline prefix"></i>
            <input class="validate" id="usuario" type="text" name="usuario">
            <label for="usuario" class="center-align">Usuario (Requerido)</label>
            <p>Se distingue las mayúsculas y minúsculas.</p>
          </div>
          <div class="input-field col s12 m6">
            <i class="mdi-action-lock-outline prefix"></i>
            <input class="validate" id="password" type="password" name="password">
            <label for="password" class="center-align">Contraseña (Opcional)</label>
            <p>La contraseña es para ingresar desde cualquier dispositivo.</p>
          </div>
          <div class="input-field col s12 m12">
            <a ng-click="api.login()" class="btn modal-close waves-effect waves-light green col s12">Ingresar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal Structure for Auto Register -->
<div id="modalReg" class="modal">
  <div class="modal-content">
    <div>
      <form class="login-form" id="registrarse" name="registrarse">
        <div class="row margin">
          <p ng-if="!session.latlng" class="red-text">Debe activar o dar permisos para compartir su ubicación</p>
          <p>Datos para inicio de sessión:</p>
          <div class="input-field col s12 m6">
            <i class="mdi-social-person-outline prefix"></i>
            <input class="validate" id="usuario" type="text" name="usuario">
            <label for="usuario" class="center-align">Usuario*</label>
            <p>Verificar mayúsculas y minúsculas</p>
          </div>
          <div class="input-field col s12 m6">
            <i class="mdi-action-lock-outline prefix"></i>
            <input class="validate" id="password" type="password" name="password">
            <label for="password" class="center-align">Contraseña*</label>
            <p>...</p>
          </div>
          <div class="input-field col s12 m12">
            <i class="mdi-social-person-outline prefix"></i>
            <input class="validate" id="negocio" type="text" name="negocio">
            <label for="negocio" class="center-align">Descripción del negocio</label>
            <p>...</p>
          </div>
          <hr>
          <p>Datos necesarios para recuperar contraseña:</p>
          <div class="input-field col s12 m6">
            <i></i>
            <input class="validate" id="siglas" type="text" name="siglas">
            <label for="siglas" class="center-align">Siglas</label>
            <p>...</p>
          </div>
          <div class="input-field col s12 m6">
            <i></i>
            <input class="validate" id="email" type="email" name="email">
            <label for="email" data-error="No es válido" data-success="Ok" class="center-align">Email</label>
            <p>...</p>
          </div>
          <div class="input-field col s12 m4">
            <i></i>
            <input class="validate" id="nombre" type="text" name="nombre">
            <label for="nombre" data-error="No es válido" data-success="Ok" class="center-align">Nombres</label>
            <p>...</p>
          </div>
          <div class="input-field col s12 m4">
            <i></i>
            <input class="validate" id="appaterno" type="text" name="appaterno">
            <label for="appaterno" data-error="No es válido" data-success="Ok" class="center-align">Paterno</label>
            <p>Apellido paterno</p>
          </div>
          <div class="input-field col s12 m4">
            <i></i>
            <input class="validate" id="apmaterno" type="text" name="apmaterno">
            <label for="apmaterno" data-error="No es válido" data-success="Ok" class="center-align">Materno</label>
            <p>Apellido materno</p>
          </div>
          <div class="input-field col s4 m4">
            <i></i>
            <input class="validate" id="dia" type="number" name="dia">
            <label for="dia" class="center-align">Día</label>
          </div>
          <div class="input-field col s4 m4">
            <i></i>
            <input class="validate" id="mes" type="number" name="mes">
            <label for="mes" class="center-align">Mes</label>
          </div>
          <div class="input-field col s4 m4">
            <i></i>
            <input class="validate" id="ano" type="number" name="ano">
            <label for="ano" class="center-align">Año</label>
          </div>
          <p>...</p>
          <p ng-if="!session.latlng" class="red-text">Debe activar o dar permisos para compartir su ubicación</p>
          <p ng-if="session.latlng" class="green-text">Si continua esta de acuerdo en registrar su ubicación</p>
          <div class="input-field col s12 m6">
            <a ng-click="api.registrarse()" class="btn waves-effect waves-light col s12 green">Registrarse</a>
          </div>
          <br>
          <br>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal Structure for Terminos y Condicines -->
<div id="modalLeame" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>
      <center>
        <i class="mdi-action-android"></i>
        <i class="mdi-maps-layers"></i>
        <i class="mdi-action-backup"></i>
        <i class="mdi-action-extension"></i>
        <i class="mdi-action-info"></i>
        <i class="mdi-social-people"></i>
        <i class="mdi-maps-directions-walk"></i>

        <i class="mdi-action-question-answer"></i>
        <i class="mdi-action-room"></i>
        <i class="mdi-action-shopping-cart"></i>
        <i class="mdi-action-thumb-up"></i>
        <i class="mdi-hardware-phone-android"></i>
        <i class="mdi-maps-map"></i>
        <i class="mdi-maps-place"></i>
        <br>
        SIG
      <center>
    </h5>
      <p style="text-align:justify">
        Para el correcto funcionamiento de este sistema debe activar la ubicación en su dispositivo.
        También debe dar permisos para compartir su ubicación en su navegador.
      </p>
      <p style="text-align:justify">
        Al ingresar al sitio, esta de acuerdo en el registro de los datos de su ubicación, si no esta de acuerdo no ingrese en el sitio.
      </p>
      <br>
  </div>
  <div class="modal-footer">
    <p style="text-align:left;display:inline;padding:2px 18px 2px;">
      MACX&copy; <a href="mailto:malejo@macx.tk">Webmaster</a>
    </p>
    <a href="#modal1" class="modal-action modal-close waves-effect waves-green btn-flat blue modal-trigger" ng-click="ajustes.ubicacion=true">Aceptar</a>
  </div>
</div>



<!-- Modal Structure for ajustes -->
<div id="modalAjustes" class="modal modal-fixed-footer">
  <div class="modal-content">
    <!-- Posicion -->
    <div style="position:relative; min-height:60px; padding-right: 64px;">
      <b>Ubicación del dispositivo.</b>
      <p>Si desactiva esta opción solo podra ver la ubicación de los usuarios que le tienen confianza.<br>
        Para enviar mensajes o realizar pedidos debe activar esta opción.</p>
      <div class="fixed-action-btn horizontal" style="position:absolute; top:0; right:4px;">
        <a class="btn-floating btn-large">
          <i ng-class="{'mdi-navigation-check green':ajustes.ubicacion, 'mdi-navigation-close red':!ajustes.ubicacion}">menu</i>
        </a>
        <ul>
          <li><a class="btn-floating green" ng-click="ajustes.ubicacion=true"><i class="mdi-navigation-check">si</i></a></li>
          <li><a class="btn-floating red" ng-click="ajustes.ubicacion=false"><i class="mdi-navigation-close">no</i></a></li>
        </ul>
      </div>
    </div>
    <!-- GPS -->
    <div style="position:relative; min-height:60px; padding-right: 64px;">
      <b>Alta precisión gps.</b>
      <p>Si desactiva esta opción solo podra ver la ubicación de los usuarios que le tienen confianza.<br>
        Para enviar mensajes o realizar pedidos debe activar esta opción.</p>
      <div class="fixed-action-btn horizontal" style="position:absolute; top:0; right:4px;">
        <a class="btn-floating btn-large">
          <i ng-class="{'mdi-navigation-check green':ajustes.gpsOptions.enableHighAccuracy, 'mdi-navigation-close red':!ajustes.gpsOptions.enableHighAccuracy}">menu</i>
        </a>
        <ul>
          <li><a class="btn-floating green" ng-click="ajustes.gpsOptions.enableHighAccuracy=true"><i class="mdi-navigation-check">si</i></a></li>
          <li><a class="btn-floating red" ng-click="ajustes.gpsOptions.enableHighAccuracy=false"><i class="mdi-navigation-close">no</i></a></li>
        </ul>
      </div>
    </div>

    <!-- Imagen ->
    <div style="position:relative; min-height:60px; padding-right: 64px;">
      <b>Cambiar imagen de marcador.</b>
      <p>.</p>
      <div class="fixed-action-btn horizontal" style="position:absolute; top:0; right:4px;">
        <a class="btn-floating btn-large white">
          <img ng-if="!session.img" class="circle" alt="" src="img/png/position_marker.png" height="100%">
          <img ng-if="session.img" class="circle" alt="" src="session.img" height="100%">
        </a>
        <ul>
          <li><a class="btn-floating red"><i class="material-icons"><img src="img/png/position_marker.png"/></i></a></li>
          <li><a class="btn-floating yellow darken-1"><img src="img/png/carro_repartidor.png" height="100%"/></a></li>
          <li><a class="btn-floating green"><img src="img/png/carro_basurero.png" height="100%"/></a></li>
          <li><a class="btn-floating blue"><img src="img/png/carro_repartidor.png" height="100%"/></a></li>
        </ul>
      </div>
    </div>
    <!- Posicion ->
    <div style="position:relative; min-height:60px; padding-right: 64px;">
      Enviar ubicacion del dispositivo
      <div class="fixed-action-btn horizontal" style="position:absolute; top:0; right:4px;">
        <a class="btn-floating btn-large red">
          <i class="material-icons">menu</i>
        </a>
        <ul>
          <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
          <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
      </div>
    </div>
    <!- Imagen -->
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat blue">Aceptar</a>
  </div>
</div>


</div>
